<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
    <%-include layout/navbar%>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.0/css/bulma.min.css">
  </head>
  <center>
  <section class="hero is-medium is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
      <strong>Stayhere</strong>
      </h1>

      <h2 class="subtitle">
          “No place is ever as bad as they tell you it’s going to be” 
      </h2>
    </div>
  </div>
</section>
<center>
  <body>

  </body>
</html>

<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        created by <a href="https://github.com/rahidayat">rahidayat</a> and <a href="https://github.com/msrabbani">msrabbani</a><br>
        <strong>Bulma</strong> by <a href="http://jgthms.com">Jeremy Thomas</a>
      </p>
      <p>
        <a class="icon" href="https://github.com/jgthms/bulma">
          <i class="fa fa-github"></i>
        </a>
      </p>
    </div>
  </div>
</footer>
<!DOCTYPE html>
