<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Home</title>
    </head>
    <body>
        <a href="/houses">Houses</a><br>
        <a href="/customers">Cutomers</a>
    </body>
</html>
